{{> header}}

<div id="content">
        <div id="forms">
            <div id="container">
                <label class="action-label" for="games-search">Search for a Game</label>
                <input type="text" name="SEARCH" id="games-search" placeholder="...">

                <input type="submit" value="Search">
            </div>

            <br>
            
            <div id="container">
                <label class="action-label" for="INSERT-game"> Add a game </label>
                <form id="INSERT-game" method="post">
                    <label for="INSERT-game-name">Name</label>
                    <input type="text" name="INSERT" id="INSERT-game-name" placeholder="Borderlands">

                    <label for="INSERT-game-price">Price</label>
                    <input type="text" name="INSERT" id="INSERT-game-price" placeholder="1.00">

                    <label for="INSERT-game-description">Description</label>
                    <input type="text" name="INSERT" id="INSERT-game-description" placeholder="This game is...">

                    <input type="submit" value="Add">
                </form>
            </div>

            <br>

            <div id="container">
                <label class="action-label" for="UPDATE-game"> Update a game </label>
                <form id="UPDATE-game" method="post">
                    <label for="UPDATE-game-id">Game ID</label>
                    <input type="text" name="UPDATE" id="UPDATE-game-id" placeholder="0">

                    <label for="UPDATE-game-name">Name</label>
                    <input type="text" name="UPDATE" id="UPDATE-game-name" placeholder="Monster Hunter">

                    <label for="UPDATE-game-price">Price</label>
                    <input type="text" name="UPDATE" id="UPDATE-game-price" placeholder="1.00">

                    <label for="UPDATE-game-description">Description</label>
                    <input type="text" name="UPDATE" id="UPDATE-game-description" placeholder="This game is...">

                    <input type="submit" value="Update">
                </form>
            </div>

            <br>

            <div id="container">
                <label class="action-label" for="DELETE-game"> Delete a Game </label>
                <form id="DELETE-game" method="post">

                    <label for="DELETE-game-id">Game ID</label>
                    <input type="text" name="DELETE" id="DELETE-game-id" placeholder="0">
                    
                    <input type="submit" value="Delete">
                </form>
            </div>

            <br>

            <div id="container">
                <label class="action-label" for="INSERT-game-genre"> Add a game genre </label>
                <form id="INSERT-game-genre">
                    <label for="game-id">Game ID</label>
                    <input type="text" name="INSERT" id="game-id" placeholder="0">
        
                    <label for="genre-id">Genre ID</label>
                    <input type="text" name="INSERT" id="genre-id" placeholder="0">
        
                    <input type="submit" value="Add">
                </form>
            </div>
        </div>
    
        <div id="tables">
            <div id="table-container">
                <table id="games-table">
                    <thead>
                        <tr>
                            {{#each data.[0]}}
                            <th>
                                {{@key}}
                            </th>
                            {{/each}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data}}
                        <tr>
                            <td>{{this.GameID}}</td>
                            <td>{{this.GameName}}</td>
                            <td>{{this.Price}}</td>
                            <td>{{this.Description}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <!--table id="games-table">
                    <tr>
                        <th>Game ID</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>Skyrim</td>
                        <td>19.99</td>
                        <td>Slay Dragons</td>
                    </tr>
                </table-->
            </div>

            <div id="table-container">
                <table id="game-genre-table">
                    <tr>
                        <th>Game ID</th>
                        <th>Genre ID</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>3</td>
                    </tr>
                </table>
            </div>
        </div>

        
    </div>