{{> header}}

<div id="content">
        <div id="forms">
            <div id="container">
                <form method='GET' action='/'>
                    <label class="action-label" for="games-search">Search for a Game</label>
                    <input type="text" name="gameName" id="games-search" placeholder="GameName">
                    <input type="submit" value="Search">
                </form>
            </div>

            <br>

            <div id="container">
                <label class="action-label" for="INSERT-game"> Add a game </label>
                <form id="INSERT-game" method="post" action="/insert-game-form" onsubmit="return false">
                    <label for="INSERT-game-name">Name</label>
                    <input type="text" name="INSERT" id="INSERT-game-name" placeholder="Borderlands">

                    <label for="INSERT-game-price">Price</label>
                    <input type="text" name="INSERT" id="INSERT-game-price" placeholder="1.00">

                    <label for="INSERT-game-description">Description</label>
                    <input type="text" name="INSERT" id="INSERT-game-description" placeholder="This game is...">

                    <input type="submit" value="Add">
                </form>
            </div>

            <br>

            <div id="container">
                <label class="action-label" for="UPDATE-game"> Update a game </label>
                <form id="UPDATE-game" method="post" action="/update-game">

                    <select onchange="fillUpdateForm(this.value, {{dataStr}})">
                        <option value="">Choose a game</option>
                        {{#each data}}
                            <option value="{{this.GameID}}">{{this.GameName}}</option>
                        {{/each}}
                    </select>

                    <br/>
                    <label for="UPDATE-game-name">Name</label>
                    <input type="text" name="GameName" id="updateGameName">
                    <input type="hidden" name="GameID" id="updateGameID">

                    <label for="UPDATE-game-price">Price</label>
                    <input type="text" name="Price" id="updatePrice">

                    <label for="UPDATE-game-description">Description</label>
                    <input type="text" name="Description" id="updateDescription">

                    <input type="submit" value="Update">
                </form>
            </div>

            <br>

            <div id="container">
                <label class="action-label" for="DELETE-game"> Delete a Game </label>
                <form id="DELETE-game" method="post" action="/delete-game">

                    <select onchange="fillDeleteForm(this.value, {{dataStr}})">
                        <option value="">Choose a game</option>
                        {{#each data}}
                            <option value="{{this.GameID}}">{{this.GameName}}</option>
                        {{/each}}
                    </select>
                    <input type="hidden" name="GameID" id="deleteGameID">

                    <input type="submit" value="Delete">
                </form>
            </div>

            <br>

            <div id="container">
                <label class="action-label" for="INSERT-game-genre"> Add a game genre </label>
                <form id="INSERT-game-genre" method="post" action="/add-game-genre">
                    <label for="game-id">Game</label>
                    <select onchange="fillRefGameID(this.value, {{dataStr}})">
                        <option value="">Choose a game</option>
                        {{#each data}}
                            <option value="{{this.GameID}}">{{this.GameName}}</option>
                        {{/each}}
                    </select>
                    <input type="hidden" name="GameID" id="refGameID">

                    <br/>
                    <label for="genre-id">Genre</label>
                    <select onchange="fillRefGenreID(this.value, {{genreDataStr}})">
                        <option value="">Choose a genre</option>
                        {{#each genreData}}
                            <option value="{{this.GenreID}}">{{this.GenreName}}</option>
                        {{/each}}
                    </select>
                    <input type="hidden" name="GenreID" id="refGenreID">

                    <input type="submit" value="Add">
                </form>
            </div>
        </div>

        <div id="tables">
            <div id="table-container">
                <table id="games-table">
                    <thead>
                        <tr>
                            {{#each data.games.[0]}}
                            <th>
                                {{@key}}
                            </th>
                            {{/each}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data.games}}
                        <tr>
                            <td>{{this.GameID}}</td>
                            <td>{{this.GameName}}</td>
                            <td>{{this.Price}}</td>
                            <td>{{this.Description}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

            <div id="table-container">
                <table id="game-genre-table">
                    <thead>
                        <tr>
                            {{#each data.gg.[0]}}
                            <th>
                                {{@key}}
                            </th>
                            {{/each}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data.gg}}
                        <tr>
                            <td>{{this.GameID}}</td>
                            <td>{{this.GenreID}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>


    </div>

    <script src="./js/Games.js"></script>
